@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b0b0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, sans-serif;
  background: rgb(229,131,217);
  background: linear-gradient(61deg, rgba(229,131,217,1) 66%, rgba(0,230,255,0.5620842086834734) 100%);
}

.copyblock {
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  ul li::before {
    content: '';
    display: inline-block;
    height: 3.5em;
    width: 3.5em;
    min-width: 3.5em;
    background-image: url('https://www.datocms-assets.com/146127/1737731958-frame-75.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0.5em -0.25em -1em;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
  }
}
